@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant.ttf") format('truetype');
    font-display: swap;
}

html , body {
  overflow-x: hidden;
}

.logo {
  width: 150px;
  height: 30px;
  flex-shrink: 0;
}


.Nav_Container {
  background-color: rgba(31, 39, 65, 0);
  position: fixed;
  z-index: 999;
  top: -100%;
  width: 100%;
  height: 75px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Nav_Container.active {
  background-color: rgba(31, 39, 65, 0.7);
  height: 64px;
  backdrop-filter: blur(35px);
  border-radius: 30px;
  transform: scale(0.88) translateY(10px);
  transition: all 0.5s ease;
}

.header__bars {
  color: var(--clr-light);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile-nav__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-nav__link {
  font-size: var(--size-sm);
  text-decoration: none;
  font-family: Assistant;
  font-weight: 600;
  font-size: 20px;
  color: var(--clr-slate600);
  letter-spacing: -0.05em;
  transition: color 0.3s;
}

.mobile-nav__link:hover {
  color: var(--clr-rose);
}

.mobile-nav__link-line {
  border: 1px solid var(--clr-slate800);
  padding-right: 1.5em;
}

.mobile-nav__sun {
  display: block;
  width: var(--size-xl);
  height: var(--size-xl);
  color: var(--clr-slate600);
}

.mobile-nav__btn {
  font-size: var(--size-sm);
}

.art {
  opacity: 0.7;
}

.shadow {
  overflow-x: hidden;
  width: 700px;
  height: 300.456px;
  transform: rotate(15deg);
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  font-family: Assistant;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: #00E498;
  color: #f1f5f9;
  padding: 0.3em 0.7em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 116, 79, 0.5),
    0 6px 6px rgba(0, 116, 79, 0.5), 0 0 100px -10px #00E498;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(0, 116, 79, 0.25),
    0 10px 10px rgba(0, 116, 79, 0.22), 0 0 120px -10px #00E498;
}




.scrubText {
    height: 170px;
    margin-bottom: 155px;
    opacity: 0;
    transition: opacity 0.05s;

}

@media (max-width: 768px) {
    .scrubText{
    height: 90px;
    margin-bottom: 90px;
    }
}

.gradientText {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    margin-bottom: 180px;
    
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.8) 9.37%, #777777 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gradientLightGrey {
    background: radial-gradient(35.31% 35.31% at 60.79% 41.81%, rgba(255, 255, 255, 0.8) 0%, #777777 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gradientGrey {
    background: radial-gradient(50% 50% at 50% 50%, #A1ACBE 0%, #A5B1C1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientGreen {
    background: radial-gradient(50% 50% at 50% 50%, rgba(181, 255, 226, 0.69) 0%, #47BC8F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    font-family: 'Assistant';
    font-style: bold;
    width: 199px;
    font-size: 20px;
    height: 51px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .button{
        width: 120px;
        font-size: 17px;
        height: 40px;
        border-radius: 12px;
    }
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .slide {
    position: relative;
    overflow: hidden;
    max-width: 100%;
  }
      .slide .pin-wrapper {
          width: 100%;
          height: 100%;
      }
      .slide .wrapper {
          position: absolute;
      }
      .slide .img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 700px;
          height: 418px;
          background: url(img/img_macbook01.png) no-repeat top left;
          transform: translate(-80%, -40%); 
      }
  
  
  #slide02 .pin-wrapper {
    
      transform: translateY(-100%);
  }

  #slide03 .pin-wrapper {
    transform: translateY(-200%);
}

  .scrollmagic-pin-spacer {
      position: absolute !important;
      clip: rect(auto, auto, auto, auto);
  }

footer {
  overflow-y: hidden;
  text-align: center;
  position: sticky;
  z-index: 9999;
}