@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-Bold.ttf") format('truetype');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-ExtraBold.ttf") format('truetype');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-ExtraLight.ttf") format('truetype');
    font-display: swap;
    font-weight: 200;
}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-Light.ttf") format('truetype');
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-Medium.ttf") format('truetype');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-Regular.ttf") format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Assistant";
    src: url("fonts/Assistant-SemiBold.ttf") format('truetype');
    font-display: swap;
    font-weight: 600;
}


.scrubText {
    height: 170px;
    margin-bottom: 155px;
    opacity: 0;
    transition: opacity 0.05s;

}

@media (max-width: 768px) {
    .scrubText{
    height: 100px;
    margin-bottom: 90px;
    }
}

.gradientText {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    line-height: 50px;

    margin-bottom: 180px;
    
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.8) 9.37%, #777777 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.gradientLightGrey {
    background: radial-gradient(35.31% 35.31% at 60.79% 41.81%, rgba(255, 255, 255, 0.8) 0%, #777777 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gradientGrey {
    background: radial-gradient(50% 50% at 50% 50%, #A1ACBE 0%, #A5B1C1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientGreen {
    background: radial-gradient(50% 50% at 50% 50%, rgba(181, 255, 226, 0.69) 0%, #47BC8F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    font-family: 'Assistant';
    font-style: bold;
    width: 199px;
    font-size: 20px;
    height: 51px;
    margin-top: 75px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .button{
        width: 108px;
        font-size: 15px;
        height: 34px;
        margin-top: 50px;
        border-radius: 12px;
    
    }
}


.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .slide {
    position: relative;
    overflow: hidden;
  }
      .slide .pin-wrapper {
          width: 100%;
          height: 100%;
      }
      .slide .wrapper {
          position: absolute;
      }
      .slide .img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 700px;
          height: 418px;
          background: url(img/img_macbook01.png) no-repeat top left;
          transform: translate(-80%, -40%); 
      }
  
  #slide02 .img {
    background-image: url(img/img_macbook02.png);}
  
  #slide03 .img {
    background-image: url(img/img_macbook01.png);}
  
  #slide04 .img {
    background-image: url(img/img_macbook02.png);}
  
  #slide02 .pin-wrapper {
      transform: translateY(-100%);
  }

  #slide03 .pin-wrapper {
    transform: translateY(-200%);
}

  .scrollmagic-pin-spacer {
      position: absolute !important;
      clip: rect(auto, auto, auto, auto);
  }